.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content {
  position: relative;
  width: 100%;
  max-width: 50rem;
  left:50%;
  transform: translateX(-50%);
  margin-top: 0.5rem;
}

.logo {
  height: 2.5rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.r-icon-btn {
  margin-left: 0.5rem;
}

.l-icon-btn {
  margin-right: 0.5rem;
}
